.App {
    text-align: center;
    display: block;
}

body {
    background-color: #F0FFFF;
    font-family: 'Georgia', serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 450px 800px;
    grid-template-rows: 400px;
    grid-gap: 150px;
}

h1 {
    margin: 0px;
    margin-top: 20px;
    padding: 10px;
}

    h1.page-header {
    margin: 0;
    padding: 0;
}

p {
    margin: 0px;
    margin-bottom: 20px;
    padding: 0px;
}

textarea {
    width: 450px;
    height: 200px;
    margin-top: 60px;
    margin-left: 45px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Georgia', serif;
    font-size: 15px;
}

button {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 100px;
    font-family: 'Georgia', serif;
}

footer{
    text-align: left;
    font-size: 15px;
    color: gray; 
}

#cloud {
    background-image: url("scribble-cloud.png");
    background-repeat:no-repeat;
    background-position: left;
    background-size: 600px;
}